<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Placement</title>
</head>
<body>
    <h1> Student Placement </h1>


    <form method="POST" action="/predict">
        <label>CGPA</label>
        <input type="text" name="cgpa">
        <br>
        <br>


        <label>iq</label>
        <input type="text" name="iq">
        <br>
        <br>

        <label>profile score</label>
        <input type="text" name="profile_score">
        <br>
        <br>

        <input type="submit" value="PREDICT">

        {% if prediction %}

        <h3> {{prediction}} </h3>

        {% endif %}
    </form>

</body>
</html>